app:
  debug: true
  host: 'localhost'
  port: 5000
  version: '0.2.3'

database:
  uri: 'sqlite:///pilotto.db'
  track_modifications: false

dev_docs:
  password: 'CHANGE_ME!'

api:
  server_api_key: 'CHANGE_ME'
  base_url: 'https://api.minepi.com'
  app_wallet_seed: 'CHANGE_ME'
  app_wallet_address: 'CHANGE_ME'
  # Pi Network" | "Pi Testnet
  network: Pi Testnet

jwt:
  secret_key: 'CHANGE_ME'
  algorithm: 'HS256'
  access_token_expire_minutes: 25

logging:
  level: 'DEBUG'
  format: '%(asctime)s - %(levelname)s - %(message)s'
  filePath: 'logs/server.log'
